header {
    color:white;
    background: black;
    padding: 20px;
}

body {
    background:grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    text-align: left;
    float: right;
}

img {
    align-content: left;
    float:left;
    padding-right: 20px;
}

p {
    text-align: right;
    float: left;
}

ul {
    align-items: left;
}

.container {
    width: 800px;
}